body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .profil {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .gambar-profil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
  }
  
  p {
    font-size: 18px;
    margin: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }